<div class="row column">
  <%= form.text_field :title, label: t(".title") %>
</div>

<div class="row column">
  <%= form.date_field :expires_at, label: t(".expires_at") %>
</div>

<div class="row column">
  <%= form.check_box :active, label: t(".active") %>
</div>

<div class="row column">
  <%= form.number_field :max_reuses, label: t(".max_reuses") %>
</div>

<div class="row column">
  <%= form.text_field :title, label: t(".title") %>
</div>
