<div class="row column">
  <%= form.translated :text_field, :title, label: t(".title") %>
</div>

<div class="row column">
  <%= form.datetime_field :expires_at, label: t(".expires_at") %>
</div>

<div class="row column">
  <%= form.check_box :active, label: t(".active") %>
</div>

<div class="row column">
  <%= form.number_field :max_reuses, label: t(".max_reuses") %>
</div>

<div class="row column">
  <%= form.select :resource_id, surveys.map { |survey| [survey[:title], survey[:id]] }, include_blank: true, label: t(".resource") %>
</div>
