<%= decidim_form_for(@form, url: code_groups_path, html: { class: "form new_code_group" }) do |f| %>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t(".title") %>
        <a class="button tiny button--title hollow" href="<%= code_groups_path %>"><%= t("codes.index.back", scope: "decidim.anonymous_codes.admin") %></a>
      </h2>
    </div>

    <div class="card-section">
      <%= render partial: "form", object: f %>

      <div class="row column">
        <%= f.number_field :num_tokens, label: t(".num_tokens") %>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit "create" %>
  </div>
<% end %>
